@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar ::-webkit-scrollbar { 
    display: none;
    width: 0;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: 0;
}
